/* Global styles */

body {

  font-family: Arial, sans-serif;

  margin: 0;

  padding: 0;

}

/* Header */

header {

  background-color: #7289DA;

  color: #FFFFFF;

  padding: 20px;

}

header h1 {

  margin: 0;
  text-align: center;

}

/* Main content */

main {

  max-width: 800px;

  margin: 0 auto;

  padding: 20px;

}

h2 {

  font-size: 24px;

  margin-top: 40px;

}

ul {

  list-style: none;

  margin: 0;

  padding: 0;

}

li {

  margin-bottom: 10px;

}

table {

  border-collapse: collapse;

  margin-top: 40px;

  width: 100%;

}

th, td {

  border: 1px solid #CCCCCC;

  padding: 10px;

}

thead th {

  background-color: #CCCCCC;

}

/* Links */

a {

  color: #7289DA;

  text-decoration: none;

}

a:hover {

  text-decoration: underline;

}

/* Logo */ 
.logo { display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-top: 40px; }
.logo img { height: 100px;
  margin-right: 20px; } 
.logo h2 { font-size: 32px;
  margin: 0; }
